* {
  padding: 0px;
  margin: 0px;
}

html {
  display: flex;
  height: 100%;
  flex-flow: column;
}
body {
  display: flex;
  height: 100%;
  flex-flow: column;
}

.view{
  display: flex;
  flex-flow: row;
  flex: 1;
}

.stack {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  min-width: 10%;
  text-align: center;
  border-right:1px solid rgba(0, 0, 0, 0.2);
}

.stack p {
    margin-bottom: 5px !important;
}

.display {
  display: flex;
  min-width: 90%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.buttons {
  flex: 1;
  display: flex;
  min-width: 100%;
  padding-right: 10px; 
}

.buttons .nums {
  padding: 30px;
  min-width: 70%;
  flex-flow: wrap;
}

.buttons .op {
  padding-top: 10px;
}

.buttons .nums button {
  display: inline-flex;
  justify-content: center;
  border: none;
  margin: 10px;
  background-color: #fff;
  min-height: 30px;
  min-width: 20%;
  flex-wrap: wrap;
  border-radius: 5px;
  flex-flow: row;
  flex: 1;
}

.buttons .op button {
  display: inline-flex;
  justify-content: center;
  margin: 5px;
  background-color: #fff;
  min-height: 30px;
  flex-wrap: wrap;
  flex-flow: row;
  flex: 1;
}
